/*body{*/
/*    background-color: red;*/
/*}*/

/*.container{*/
/*    background-color: white;*/
/*}*/

header{
    background-color: #004485;
    color:white;
}

.menu-div{
    background-color: #004485;
}

footer{
    background-color: #004485;
    color:white;
}

.slider-row{}

.teams-row, .potw-row, .upcoming-events-row, .gallery-row, .newsletter-row
{
    padding-top: 2em;
}

.social-media-row{
    padding-top: 1em;
}

.teams-row .col-4, .teams-row .col-sm-4, .teams-row .col-md-3, .teams-row .col-lg-3{
    padding-left: 0;
    padding-right: 0;
}

.potw-row .col-6, .potw-row .col-12{
    padding-left: 0;
    padding-right: 0;
}

.potw-row .container-fluid{
    padding-left: 0;
}

.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}

form .col-4, form .col-8{
    padding-left: 0;
    padding-right: 0;
}

.form-check label{
    width: 200px;
}

.col-md-6 .container-fluid .row, .col-12 .container-fluid .row{
    margin-right: 0;
    margin-left: 0;
}

.upcoming-events-row .col-12, .newsletter-row .col-12, .social-media-row .col-12{
    padding-right: 0;
    padding-left: 0;
}

.social-media-top-row .col-12{
    padding-left:0px;
    margin-top:5px!important;
    margin-bottom:2px!important;
}

/*.carousel-control-next-icon:before, .carousel-control-prev-icon:before, .carousel-control-next-icon:after .carousel-control-prev-icon:after{*/
/*    color:#004485;  !*arrows pre and next in upcoming events*!*/

/*}*/

.slick-prev:before, .slick-next:before{
    color:#004485;  /*arrows pre and next in upcoming events*/
}

.islanders{
    font-weight: bold;
    color: #003466;
}

.versus{
    font-weight: bold;
    padding-left: 1rem;
}

.carousel-caption{
    background-color: rgba(0,52,102,0.4);
}

.color-social-media-top{
    background-color: #004485;
    color: #fef600;
}

.color-social-media-down{
    background-color: #fef600;
    color: #004485;
}

.btn-primary{
    background-color: #004485;
    color: #fef600;
}

.blueAbbott, h3{
    color: #004485;
}

.img-responsive{
    /*width: 90%;*/
    /*height: 90%;*/
    margin:2px;
}

.col-2 a:link, .col-2 a:visited{
    color: #004485;
}


.col-2 a:hover{
    color: #0075e6;
}

.card-overlay{
    z-index: 90;
    background-color: rgba(0,0,0,0.8);
}

.layer {
    background-color: rgba(248, 247, 216, 0.7);

    width: 100%;
    height: 100%;
}

/*.anchor a{*/
/*    position: absolute;*/
/*    left: 0px;*/
/*    top: -60px;*/
/*}*/

/*.slick-active .row{*/
/*    margin-right: 0;*/
/*    margin-left: 0px;*/
/*    padding-left: 15px;*/
/*    padding-right: 15px;*/
/*}*/

/*.rowEvent{*/
/*    margin-left: 50px;*/
/*    margin-right: 50px;*/
/*}*/

