.top-header-color{
    background-color: #004485;
}

.site-header{
    background-color: #004485;
    color:white;
}

.site-footer {
    background: #565655;
    width: 100%;
    float: left;
    color: white;
}

/*footer*/
.site-footer {
    background: #565655;
    width: 100%;
    float: left;
}

#footer {
    clear: both;
    background: #565655;
    color: #ffffff;
    clear: both;
    padding: 0px;
}

.footer-widgets, #footer .back-to-mobile {
    font-size: 14px;
}

[class*='col-'] {
    float: left;
    display: inline-block;
}

#footer a {
    color: #ffffff;
}

.footer-widgets .widget {
    margin-top: 30px;
    min-height: 145px;
}

.bg-dark{
    background-color: #004485!important;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: bold;
}

p, div, body, nav, header, footer{
    font-family: 'Lato', sans-serif;
}

.btn-link, .nav-item a, .teamname {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: bold;
    font-size: 1.2em;
}

:target::before {
    content: "";
    display: block;
    height: 100px; /* fixed header height*/
    margin: -100px 0 0; /* negative fixed header height */
}