/* STYLESHEET 
@import url('https://fonts.googleapis.com/css?family=Bangers|Raleway&display=swap');
*/
@import url('https://fonts.googleapis.com/css?family=Barlow|Barlow+Condensed|Muli|Noto+Serif&display=swap');
@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed|Lato|Montserrat&display=swap');


/* 
font-family: 'Bangers', cursive;
font-family: 'Raleway', sans-serif;
*/

body{
  //font-family: 'Muli', sans-serif;
  //color:#d3f2ea;
  background-color: white;
}
header, footer{
background-color: white;
  padding: 20px 0; 
}
.navbar {
  padding-top:0;
}


h1, h2, h3, h4, h5, h6{
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: bold;
}


p, div, body, nav, header, footer{
    font-family: 'Lato', sans-serif;
}

h2 {
  margin-top:2rem;
  text-align: center;
}

.container, .container-fluid{
  background-color: white;
}

.container-fluid{
  max-width: 1200px;
}

iframe {
  width: 100%;
  border: none;
}

.news img { 
  width: 100%;
  margin-bottom: .5rem;
  margin-top: 1rem;
}
.news .row > :last-child{
  display: flex;
  align-items: center;
}
.news {
	margin-top:30px;
}

.navbar-toggler{
  position: fixed;
  top: 10px;
  right: 10px;
}


/* SLIDER */
.slider-photos{

  margin-bottom: 1rem;
}

.slider-photos img{
	width:150px;
	height:100px;
	margin-left:40px;
	
}
.slick-slide{
 // padding: 0 3px;
  
}
.slick-prev:before, .slick-next:before,
.slick-dots li button:before,
.slick-dots li.slick-active button:before{
  //color: #e2f99a;
  color: #0055a5;
  font-size: 30px;
}

.slick-prev{ left: 1px; z-index: 100; }
.slick-next{  right: 2px; }



/* BOOTSTRAP MEDIUM */
@media (min-width: 768px){
  .news .row > :last-child{
    display: block;
    align-items: normal;
    text-align: center;
  }
}
.h5 {
	color: #0055a5;
	text-align: center;
}
.h3 {
	text-align: centr;
}

.leftNews img { 
  width: 100%;
  margin-bottom: .5rem;
  margin-top: 1rem;
 
}
.leftNews .row > :last-child{
  display: flex;
  align-items: center;
}

.rightNews img { 
  width: 100%;
  margin-bottom: .5rem;
 // margin-top: 1rem;
  
}
.rightNews {
	//margin-left: 50px;
}
.rightNews .row > :last-child{
  display: flex;
  align-items: center;
}

a {
	color: black;
}

.mainNews {
	margin-top: 50px;
}

.leftMargin{
	margin-left:10px;
}

.shadow {
  border: 1px solid lightgray;
  padding: 10px;
  box-shadow: 2px 2px #888888;
 
 
}
.topnews{
	width:100%;
	margin-left:3px;
}

.left100 {
	margin-left:100px;
	
}

.subscribe
{
text-align:center;
border:1px solid #a1a1a1;
padding:10px 10px 10px; 
background:#fff200;
color:#0055a5;
width:100px;
border-radius:20px;
-moz-border-radius:25px; 
margin-top:10px;
}


.top-header-color{
    background-color: #004485;
}

.site-header{
    background-color: #004485;
    color:white;
}

.site-footer {
    background: #565655;
    width: 100%;
    float: left;
    color: white;
}

/*footer*/
.site-footer {
    background: #565655;
    width: 100%;
    float: left;
}

/*.container {*/
/*    max-width: 1100px;*/
/*    margin-left: auto;*/
/*    margin-right: auto;*/
/*    padding-left: 30px;*/
/*    padding-right: 30px;font-size: 65.5%;*/
/*}*/
#footer {
    clear: both;
    background: #565655;
    color: #ffffff;
    clear: both;
    padding: 0px;
}

.footer-widgets, #footer .back-to-mobile {
    font-size: 14px;
}
/*
[class*='col-'] {
    float: left;
    display: inline-block;
}
*/
#footer a {
    color: #ffffff;
}

.footer-widgets .widget {
    margin-top: 30px;
    min-height: 145px;
}

.menu-div{
    background-color: #004485;
}

.bg-dark{
    background-color: #004485!important;
}

.btn-link, .nav-item a, .teamname {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: bold;
    font-size: 1.2em;
}